section.search{
    background-image: url('/Clothing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

section.search::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffffb7;
    z-index: -1;
    
}

section.search button {
    background-color: #ff444a;
    color: #fff;
}